<p>Artist: <a href="/artists/<%=@song.artist.slug%>"><%= @song.artist.name %></a></p><br>
<p>Genres: <% @song.genres.each do |genre|%></p>
   <p><a href="/genres/<%=genre.slug%>"><%= genre.name %></a></p>
<% end %>
